# Virtual Environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# VS Code
.vscode/

# Logs
*.log

# Generated reports
reports/

# Uploaded files
uploads/

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db