fastapi
uvicorn
python-multipart
requests
python-dotenv

langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface

pypdf
pdfplumber

chromadb
faiss-cpu

openai
groq

transformers
huggingface_hub
tokenizers
safetensors
sentencepiece

numpy
pydantic