fastapi
uvicorn
python-multipart
requests
python-dotenv

langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface

pypdf
pdfplumber

chromadb
faiss-cpu

openai
groq

transformers
huggingface_hub
tokenizers
safetensors
sentencepiece

numpy
pydantic

google-generativeai
google-genai
google-ai-generativelanguage
google-api-python-client
google-auth
google-adk==2.3.0